/* Top10Recent.css */
.articleContainer {
  border: 1px solid #002144;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: var(--article_container_background); /*#f0f0f0; /* Light gray background */
  width: 90%; /* Set a maximum width */
  max-width:90%;
  margin-left: auto; /* Center the container horizontally */
  margin-right: auto; /* Center the container horizontally */
}

  
.articleHeading {
  color: var(--app_heading_color); /*#002144;*/
  font-size: 1.5rem;
}
  
.articleExcerpt {
  color:  var(--app_text_color); /* Dark gray */
  line-height:1.15;
}

.articleImage {
  max-width: 100%; /* Ensure image doesn't exceed container width */
  height: auto; /* Maintain aspect ratio */
}

.articleContainer *{
  color:  var(--app_text_color);
  max-width: 80vw;
  object-fit:contain;
  height: fit-content;
}
/*
.articleContent img, .articleContent figcaption, .articleContent figure {
  max-width: 80vw;
  object-fit:contain;
  height:fit-content;
  align-content: center;
}
*/
.articleLink {
  color: blue;
  background-color: var(--article_container_background);
  text-decoration: none;
  border:0;
}
  
.articleLink:hover {
  text-decoration: underline;
}

.backButton{
  color: blue;
  background-color: var(--article_container_background);
  text-decoration: none;
  border:0;
}

.backButton:hover{
  text-decoration: underline;
}

.adSpace {
  border: 1px solid #002144;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: var(--article_container_background); /* Light gray background */
  /*max-width: 600px; /* Set a maximum width */
  width:fit-content;
  margin-left: auto; /* Center the container horizontally */
  margin-right: auto; /* Center the container horizontally */
  color:var(--app_heading_color);
}

