/* Top10Recent.css */
.articleContainer {
  border: 1px solid #002144;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #f0f0f0; /* Light gray background */
  width: 90%; /* Set a maximum width */
  margin-left: auto; /* Center the container horizontally */
  margin-right: auto; /* Center the container horizontally */
}

  
.articleHeading {
  color: #002144;
  font-size: 1.5rem;
}
  
.articleExcerpt {
  color: #333; /* Dark gray */
}
  
.articleLink {
  color: blue;
  text-decoration: none;
}
  
.articleLink:hover {
  text-decoration: underline;
}

.articleImage {
  max-width: 100%; /* Ensure image doesn't exceed container width */
  height: auto; /* Maintain aspect ratio */
}

.adSpace {
  border: 1px solid #002144;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #002144; /* Light gray background */
  /*max-width: 600px; /* Set a maximum width */
  width:fit-content;
  margin-left: auto; /* Center the container horizontally */
  margin-right: auto; /* Center the container horizontally */
  color:gold;
}


