/* styles.css */

/* Light mode styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#Header, #Footer {
    position: fixed;
    width: 100%;
    background-color:rgba(100,0,0,0.5); /* Light mode background color */
    color: navy; /* Light mode text color */
    padding: 10px;
    z-index: 1000; /* Ensuring the header and footer stay above other content */
}

#Header{
    top:0;
}

#Footer{
    bottom:0;
}

.navButton {
    background-color: white; /* Light mode background color */
    color: navy; /* Light mode text color */
    border: 2px solid navy; /* Adding border for contrast */
    padding: 8px 16px;
    cursor: pointer;
    font-size: 16px;
    margin: 0;
    width: calc(100% / 5); /* Divide the width equally among the buttons */
}

.navButton:hover {
    background-color: navy; /* Light mode background color on hover */
    color: white; /* Light mode text color on hover */
}

.search-bar-input {
    padding: 8px;
    border: none;
    border-radius: 4px;
    margin-right: 8px;
    font-size: 16px;
    background-color: white; /* Light mode background color for input */
}

.search-bar-button {
    padding: 8px 16px;
    background-color: yellow;
    color: navy;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.search-bar-button:hover {
    background-color: #ffeb3b; /* Hover color for button */
}

/* Dark mode styles */
.dark-mode body {
    background-color: navy; /* Dark mode background color */
    color: white; /* Dark mode text color */
}

.dark-mode #Header, .dark-mode #Footer {
    background-color: navy; /* Dark mode background color */
    color: white; /* Dark mode text color */
}

.dark-mode .navButton {
    background-color: navy; /* Dark mode background color */
    color: white; /* Dark mode text color */
    border-color: gold; /* Border color for contrast */
}

.dark-mode .navButton:hover {
    background-color: white; /* Dark mode background color on hover */
    color: navy; /* Dark mode text color on hover */
}

.dark-mode .search-bar-input {
    background-color: navy; /* Dark mode background color for input */
    color: white; /* Dark mode text color for input */
}

.dark-mode .search-bar-button {
    background-color: navy; /* Dark mode background color for button */
    color: white; /* Dark mode text color for button */
}

.dark-mode .search-bar-button:hover {
    background-color: #ffeb3b; /* Hover color for button */
    color: navy; /* Dark mode text color on hover */
}

.App-header{
    padding-top: 150px;
}