/* FHstyles.css */

/* Header styles */
#Header-Content-Container {
  background-color: var(--footer_header_background_color);
  color: #FFFFFF;
  padding: 10px; /* Reduce padding */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  left: 0;
  width: 100%;
  z-index: 1000;
  top: 0;
  position: sticky;
  flex: 0 0 auto;
}

#Header-Content-Container * {
  display: inline-block;
}

/* Translate class for header logo */
.translate-left {
  transform: translateX(-50px); /* Adjust the value as needed */
  transition: transform 0.3s ease; /* Add a transition for smooth animation */
}

/* Title styles */
.headerTitle {
  font-size: 1.2rem; /* Reduce font size */
  margin: 0;
  max-width: 100%;
  max-height: 30px; /* Reduce height */
  object-fit: contain;
}

#SearchBar {
  position: absolute;
  top: 0;
  right: 0;
}

/* Footer styles */
#Footer-Content-Container {
  background-color: var(--footer_header_background_color);
  color: #FFFFFF;
  padding: 10px; /* Reduce padding */
  text-align: center;
  position: sticky;
  bottom: 0;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  padding: 5px 10px; /* Reduce padding */
}

/* Navigation button styles */
.navButton {
  background-color: var(--footer_header_background_color);
  color: white;
  padding: 5px 10px; /* Reduce padding */
  border: none;
  border-radius: 25px;
  margin: 5px;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  flex: 1;
  max-width: fit-content;
  font-size: 0.8rem; /* Reduce font size */
  font-family: Helvetica;
}

/* Button hover effect */
.navButton:hover {
  background-color: #00467a;
  color: #002241;
}

/* Button active state */
.navButton:active {
  background-color: #00467a;
  color: #002241;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  #Footer {
    flex-wrap: wrap;
  }

  .navButton {
    flex: 1 0 45%;
  }
}
