.page-container{
    background-color:#002144;
    display:flex;
    flex-direction:column;
    align-items: center;
}
.main-page-content{
    flex: 1 1 auto;
}
.App{
    min-height:100vh;
    min-width:100vw;
    flex:inherit;
}
/*
#Header{
    top:0;
    position:sticky;
    flex: 0 0 auto;
}
#Footer{
    bottom:0;
    position:sticky;
    flex: 0 0 auto;
}
*/
