.search-bar-container {
  top: 0;
  left: 50%;
  /*transform: translateX(-50%);*/
}

.search-bar {
  position: relative;
  display: inline;
}

.search-input {
  width: 0;
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: width 0.3s ease;
  outline: none; /* Remove default focus outline */
  opacity: 0; /* Hide the input initially */
  display:inline;
}

.search-input.active {
  width: 200px; /* Set the expanded width as needed */
  opacity: 1; /* Show the input when active */
  display: inline;
}

.search-icon {
  /*position: absolute;
  /*
  top: 0;
  right: 0;
  */
  padding: 8px;
  cursor: pointer;
  display:inline;
}

.error-message {
  color: red;
}

.possible-articles {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
  max-height: 200px;
  overflow-y: auto;
}

.article {
  padding: 8px;
  cursor: pointer;
}

.article:hover {
  background-color: #f0f0f0;
}

.selected-post {
  margin-top: 20px;
}

.search-results {
  list-style-type: none;
  padding: 0;
}

.search-result {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-result h3 {
  margin-top: 0;
}

.search-result:hover {
  background-color: #f0f0f0;
}