:root {
    /*set defaults as light mode (is overriden either way once darkMode.js renders)*/
    --app_background_color: #FFFFFF;
    --app_text_color: #002144;
    --footer_header_background_color: #002144;
    --footer_header_text_color: #FFFFFF;
    --article_container_background: #FFFFFF;
    --app_heading_color:var(--app_text_color);
    --color_not_in_container: var(--footer_header_text_color);

    --splash_screen_color:#3c4142; /*charcoal grey*/
}

/*dark mode variables*/
[data-theme = "dark"] {
    --app_background_color: #002144;
    --app_text_color: #333;
    --article_container_background: #C9C8C7;
    --color_not_int_container: #FFFFFF;

    --footer_header_background_color: #3c4142;
    --footer_header_text_color:  #FFFFFF;;
}

/*light mode variables*/
[data-theme = "light"] {
    --app_background_color: #FFFFFF;
    --app_text_color: #002144;
    --article_container_background: #FFFFFF;

    --footer_header_background_color: #002144;
    --footer_header_text_color: #FFFFFF;
}