/* SplashScreen.css */
.splash-screen {
  width: 100vw;
  height: 100vh;
  background-color: #fff; /* Background color of the splash screen */
}

.splash-logo {
  width: 200px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
  animation: pulse 2s infinite alternate; /* Pulse animation */
}

@keyframes pulse {
  from {
    transform: scale(1); /* Initial scale */
    opacity: 1; /* Initial opacity */
  }
  to {
    transform: scale(1.1); /* Scale up */
    opacity: 0.8; /* Reduce opacity */
  }
}
